@model CIS_414_Playlist_Project.Models.Playlist

@if (Model?.Songs?.Any() == true)
{
    foreach (var song in Model.Songs)
    {
        <tr>
            <td>@song.SongTitle</td>
            <td>@song.ArtistName</td>
            <td>
                <form asp-action="RemoveFromPlaylist" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#playlistBody">
                    <input type="hidden" name="songId" value="@song.SongId" />
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
            </td>
        </tr>
    }
}