@{
    ViewData["Title"] = "HomePage";
}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Moods</h1>
        <p class="lead">A simple way tto find the perfect soundtrack for any moment </p>
        <hr class="my-4">
        <p>Click the button below to start searching for songs.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("SearchPage", "Home")" role="button">Go to Search</a>
    </div>
</div>