<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}



<div class="animate__animated animate__slideInUp">
    <div class="jumbotron text-center p-5 rounded ">
        <h1 id="moodsTitleText">Moods</h1>
        <a class="btn btn-bottom-stripe btn-bottom-stripe--purple" href="/Home/SearchPage">
            Find the perfect soundtrack for any moment
        </a>

    </div>

</div>


    
